//footer styles
footer {    
    background:$footer-bg-color;
    height: 120px;
    width: 100%;
    text-align:center;
    color: $white;
    padding-top:50px;

    @include break(459px) {
        text-align:center;
    } 
    
    p {
        @include break(459px) {
            float: none;
            margin:0;
        } 
    }
    img {        
        @include break(459px) {
            float: none;
            margin:0;
        } 
    }
}

//social media styles
.social-media {
    height: 1uto; 
    width: 165px;
    margin: 0 auto;
    %div {
        float: left;
        margin-right:5px;
    }
    a {
        display:block;
        height: 36px; 
        width: 36px;    
        text-indent:-9999px;
    }
    .one {
        @extend %div; background:
        $social-media 0 0;
    }
    .two {
        @extend %div; 
        background:$social-media (0 - 38px) 0;
    }
    .three {
        @extend %div; 
        background:$social-media (0 - (38px * 2)) 0;
    }
    .four {
        @extend %div; 
        background:$social-media (0 - (38px * 3)) 0;
    }
}

//styes for greybar
.greybar {
    background-color: $footer-color;
    height: 90px;
    width: 100%;
    clear: both;
    padding-top: 30px;
    
    @include break(459px) {
        display:none;
    }
}

