
figure {
    @include backgroundImage($background-logo-img, false, no-repeat, 0 50px, auto);
    height: 190px;
    width: 400px;
    float: left;
    display:block;
    margin: 0;
    @include break(959px) {
        width:inherit;
        height:140px;
        float: none;
        background-position:center;
    }
    @include break(459px) {
        background-size:contain;
        height:100px;
    }  
}
nav {
    @include header-nav();
    @include break(959px) {
        width:inherit;
        height:50px;
        float: none;
        text-align:center;
    }
    @include break(459px) {
        @include font-size(2em);
        margin:0 5px;
    } 
}