$font-body: 'Roboto', sans-serif;

//colors
$white: #FFF;
$red: #E65C43;
$grey: #666;
$bg-color: #F25C43;
$footer-color: #F5F6F6;
$footer-bg-color: #30353D;

//background images
$social-media: url('../images/social-media.png');
$bg-logo: url('../images/logo.png');
$bg-header: url('../images/devices.png');
$bg-img: url('../images/bg.gif');
