$font-body: 'Roboto', sans-serif;

$white: #FFF;
$red: #E65C43;
$grey: #666;

$bg-color: #F25C43;
$footer-color: #F5F6F6;
$footer-bg-color: #30353D;

$social-media-img: url('../images/social-media.png');
$background-article-1-img: url('../images/vprospect.png');
$background-article-2-img: url('../images/vconvert.png');
$background-logo-img: url('../images/logo.png');
$background-header-img: url('../images/devices.png');
$background-img: url('../images/bg.gif');
